@model buyitWeb.Models.ViewModels.CartVM

<h1>Shipping details</h1>

<div class="h4">
    Name:
    <br />
    <input asp-for="OrderHeader.Name" />
    <span asp-validation-for="OrderHeader.Name"></span>
    <br />
    Phone Number:
    <br />
    <input asp-for="OrderHeader.PhoneNumber" /> 
    <span asp-validation-for="OrderHeader.PhoneNumber"></span>
    <br />
    State:
    <br />
    <input asp-for="OrderHeader.State" />
    <span asp-validation-for="OrderHeader.State"></span>
    <br />
    City:
    <br />
    <input asp-for="OrderHeader.City" />
    <span asp-validation-for="OrderHeader.City"></span>
    <br />
    Street Adress:
    <br />
    <input asp-for="OrderHeader.StreetAddress" />
    <span asp-validation-for="OrderHeader.StreetAddress"></span>
    <br />
    Postal Code:
    <br />
    <input asp-for="OrderHeader.PostalCode" />
    <span asp-validation-for="OrderHeader.PostalCode"></span>
</div>

<div class="mt-5 h4">
    <p class="h3"><b>Total: </b>@Model.OrderHeader.OrderTotal PLN</p>
    <a asp-action="Index">Back</a>
    <button>Buy</button>
</div>