@model IEnumerable<Category>

<h1>Category</h1>
@*<div class="createButton mt-4 mb-2">
    <a>+ Create new</a>
    </div>*@

<br />

<partial name="_CreatePartial" model="null" />

<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Order</td>
                <td>@item.CreatedDateTime</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" >Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}
