<h1>Books</h1>

<table id="tblData" class="table table-striped mt-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/order.js"></script>
}