@model IEnumerable<CoverTypeModel>

<h1>CoverType</h1>
@*<div class="createButton mt-4 mb-2">
    <a>+ Create new</a>
    </div>*@

<br />

<partial name="_CreateCoverPartial" model="null" />

<table class="table table-striped mt-2">
    <thead>
        <tr>
            <th>Cover Type Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" >Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}
