<h1>Books</h1>

<div class="mb-3">
   <a asp-action="Create"> +Create new</a>
</div>

<table id="tblData" class="table table-striped mt-2">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/boook.js"></script>
}